@page "/GetTextBox"

<h3>Total Meal Price Calculator</h3>

<p>Enter the price of the meal</p>

<input @bind="MealPriceInput" />

<p>Total price with 6% tax and 20% tip: @TotalPrice</p>

<button class="btn btn-primary" @onclick="CalculateTotal">Calculate Total</button>

@code
{

    private string MealPriceInput { get; set; }

    private string TotalPrice { get; set; }

    private void CalculateTotal()

    {
        
        double mealPrice = double.Parse(MealPriceInput);
        mealPrice = mealPrice + (mealPrice * .06) + (mealPrice * .2); 
        TotalPrice = mealPrice.ToString();

    }

} 