@page "/GetTextBox"

<h3>Total Meal Price Calculator</h3>

<input @bind="CurrentValue" />

<p>Current count: @NewValue</p>

<button class="btn btn-primary" @onclick="GetValuet">Calculate Total</button>

@code
{

    private string CurrentValue { get; set; }

    private string NewValue { get; set; }

    private void GetValuet()

    {
        
        float mealPrice = float.Parse(CurrentValue);
        mealPrice = mealPrice + (mealPrice * .06) + (mealPrice * .2); 
        NewValue = mealPrice.ToString();

    }

} 