@page "/tip"

<h1>Meal Calculator</h1>

<p>Enter the meal price to see the total with tax and tip</p>

<input @bind="MealPrice" />

<p>Total price: @TotalPrice</p>

<button class="btn btn-primary" @onclick="CalculateTotal">Calculate Total</button>

@code
{

    private string MealPrice { get; set; }

    private string TotalPrice { get; set; }

    private void CalculateTotal()

    {

        float mealPrice = float.Parse(MealPrice);
        float tax = mealPrice * .065;
        float tip = mealPrice * .2;
        float totalPrice = mealPrice + tax + tip;

        TotalPrice = totalPrice.toString();

    }

}