@page "/tip"

<h1>Meal Calculator</h1>

<p>Enter the meal price to see the total with tax and tip</p>

<input @bind="MealPrice" />

<p>Total price: @TotalPrice</p>

<button class="btn btn-primary" @onclick="CalculateTotal">Calculate Total</button>

@code
{

    private string MealPrice { get; set; }

    private string TotalPrice { get; set; }

        private float mealPrice = 0;
        private float tax = 0;
        private float tip = 0;
        private float totalPrice = 0;

    private void CalculateTotal()

    {

        mealPrice = float.Parse(MealPrice);
        tax = mealPrice * .065;
        tip = mealPrice * .2;
        totalPrice = mealPrice + tax + tip;

        TotalPrice = totalPrice.toString();

    }

}